.landing {
    background-image: url('../assets/ramy-kabalan-mF4_MHgp4ps-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: .3px;
        top: 313px;
        background-color: var(--subheader-text-color);

        @media (max-width: 552px) {
            display: none;
        }
        
    }

    .ma-ba3ref {
        span {
            position: absolute;
            width: 2px;
            top: 100px;
            left: 0;
            background-color: var(--main-red);
        }
    }
}

.landing-cards {

    background-color: rgba($color: #000000, $alpha: 0.5);

    ul {
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        left: -140px;
        bottom: 10px;
        transform: rotate(-180deg);
        
        li {
            transform: rotate(90deg);
            color: white;

            &:last-child {
                transform: translateY(100px) rotate(90deg);
            }

        }

    }

    .landing-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;

        p {
            &:first-child {color: var(--main-red);}
            &:last-child {color: var(--subheader-text-color);}
        }

    }

    .PlayCircleFilledIcon {
        position: absolute;
        right: -140px;
        bottom: 60px;
        font-size: 60px;
        z-index: 100;
        color: white;

        @media (max-width: 552px) {
            right: 140px;
            bottom: -120px;
        }

    }

}

img {
    width: 190px;
    height: 194px;

    @media (max-width: 552px) {
        width: 344px;
        height: 187px;
    }
    
}
