* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    --main-red: #DD2242;
    --subheader-text-color:#939393;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

.main-btn {
    background-color: var(--main-red) !important;
    color: white !important;
    padding: 15px 0px !important;
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
    border-radius: 32px !important;
    width: 180px;
}

.logo {
    .gradient-p {
        background: #FFFFFF;
        background: linear-gradient(to bottom, #FFFFFF 60%, #ccc 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}